html {
  width: 100%;
  overflow-x: hidden;
}

/********* 
**** HOME 
*********/

#home-section,
#experiences,
#projects {
  min-height: 100vh;
}

#slides {
  height: 60vh;
}

#contact {
  height: 80vh;
}

/********* 
**** Global Styles 
*********/

.navigation-container {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}

.title,
.undertitle,
.portfolio,
.littleTitle {
  position: absolute;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.title {
  left: 5%;
  font-weight: 1000;
}

.undertitle {
  left: 5%;
  text-align: left;
  align-items: center;
}

.portfolio,
.littleTitle {
  font-weight: bold;
}

/********* 
**** Media Queries 
*********/

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {
  .title {
    top: 50%;
    font-size: 65px;
  }

  .undertitle {
    bottom: 120%;
    font-size: 30px;
  }

  .portfolio {
    top: 705px;
  }

  .littleTitle {
    top: 750px;
    font-weight: 300;
  }
}

/* portrait tablets, portrait iPad, e-readers, landscape 800x480 phones (Android) */
@media (min-width: 600px) {
  .title {
    top: 42%;
    font-size: 45px;
  }

  .undertitle {
    bottom: 133%;
    font-size: 23px;
  }
}

/* tablet, landscape iPad, lo-res laptops and desktops */
@media (min-width: 801px) {
  .title {
    top: 45%;
    font-size: 55px;
  }

  .undertitle {
    bottom: 120%;
    font-size: 30px;
  }

  .navigation-container {
    display: block;
    top: 0;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
  .title {
    top: 38%;
    font-size: 80px;
  }

  .undertitle {
    bottom: 127%;
    font-size: 40px;
  }

  .title-image {
    position: absolute;
    left: 40%;
    top: 50%;
  }

  .title-image img {
    width: 400px;
  }
}

/* common pc */
@media (min-width: 1281px) {
  .title {
    top: 45%;
    font-size: 90px;
  }

  .undertitle {
    bottom: 95%;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1366px) {
  .title {
    top: 38%;
    font-size: 85px;
  }

  .undertitle {
    bottom: 120%;
    font-size: 30px;
  }

  .littleTitle {
    font-size: 25px;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1920px) {
  .title {
    top: 38%;
    font-size: 110px;
  }

  .undertitle {
    bottom: 90%;
    font-size: 45px;
  }

  .littleTitle {
    font-size: 36px;
    top: 763px;
  }
}


/* 16inch*/
/* @media (min-width: 3072px) {
  .title {
    top: 38%;
    font-size: 85px;
  }

  .undertitle {
    bottom: 100%;
    font-size: 30px;
  }

  .littleTitle {
    font-size: 25px;
  }
} */
