/* .creative-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300vh;
  padding: 20px;
}

.sketchbookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
}

.sketchbookContainer h2 {
  color: #f39b9a;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.sketchbookContainer p {
  font-size: 17px;
  width: 60%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.creative-container {
  min-height: 100vh;
  background-color: #e8e6d4;
  background: #e8e6d4;
  background: radial-gradient(at center right, #f39b9a, #e8e6d4);
  background-repeat: no-repeat;
  background-size: cover;
}

.sketchbookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.nav-link {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  margin: 30px 50px;
  font-size: 15px;
  padding: 0;
}

.nav-link:hover {
  color: #f39b9a;
  font-weight: 600;
} */
